@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap");

:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --darker-cyan: hsl(158, 36%, 20%);
  --cream: hsl(30, 38%, 92%);
  --dark-blue: hsl(212, 21%, 14%);
  --grayish-dark-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
  --fraunces: "Fraunces", serif;
  --montserrat: "Montserrat", sans-serif;
}

body {
  background-color: var(--cream);
  font-family: var(--montserrat);
  font-size: 14px;
  font-weight: 500;
}

main {
  display: grid;
  place-items: center;
  height: 100vh;

  .card {
    width: 600px;
    height: 450px;
    display: flex;
    background: transparent;

    .preview {
      width: 50%;
      box-sizing: border-box;
      border-radius: 10px 0 0 10px;
      background-image: url(./../images/image-product-desktop.jpg);
      background-size: cover;
    }

    .info {
      width: 50%;
      box-sizing: border-box;
      background-color: var(--white);
      border-radius: 0 10px 10px 0;
      padding: 32px;
      color: var(--grayish-dark-blue);

      .category {
        text-transform: uppercase;
        letter-spacing: 3px;
      }

      .title {
        color: var(--dark-blue);
        margin: 20px 0;
      }

      .description {
        line-height: 1.5;
      }

      .title,
      .price span {
        font-family: var(--fraunces);
        font-weight: 700;
        font-size: 32px;
      }

      .price {
        margin: 20px 0;
        display: flex;
        align-items: center;

        span {
          color: var(--dark-cyan);
          margin-right: 20px;
        }
      }

      button {
        all: unset;
        display: flex;
        place-items: center;
        justify-content: center;
        width: 100%;
        background-color: var(--dark-cyan);
        height: 48px;
        color: var(--white);
        font-weight: 700;
        border-radius: 7px;

        span {
          margin-right: 10px;
        }
      }

      button:hover {
        background-color: var(--darker-cyan);
        cursor: pointer;
      }
    }
  }

  @media screen and (max-width: 375px) {
    .card {
      width: 344px;
      height: 612px;
      flex-direction: column;

      .preview,
      .info {
        width: 100%;
      }

      .preview {
        height: 240px;
        border-radius: 10px 10px 0 0;
        background-image: url(./../images/image-product-mobile.jpg);
      }

      .info {
        height: 370px;
        border-radius: 0 0 10px 10px;
        padding: 24px;

        .title,
        .price {
          margin: 14px 0;
        }

        button {
          border-radius: 7px;
        }
      }
    }
  }
}
